.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 400px; /* Adjust the width of the cart item */
  height: 200px; /* Adjust the height of the cart item */
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 20px;
}

.cartItem img {
  max-width: 150px; /* Adjust the maximum width of the image */
  max-height: 200px; /* Adjust the maximum height of the image */
  object-fit: flex;
}

.cartItem .description {
    flex: 1; /* Take remaining space */
    font-size: 16px; /* Adjusted font size */
    padding: 3rem;
  }


.countHandler {
  display: flex;
  align-items: center;
}

.countHandler button {
  width: 30px;
  height: 30px;
  background-color: #e745c1;
  color: white;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.countHandler button:hover {
  background-color: #0056b3;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
}


.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}